.app {
  display: grid;
  min-height: 100vh;
  grid-template:
    'header' auto
    'frame' 1fr
    'footer' auto;
}

.header {
  grid-area: header;
}
.frame {
  grid-area: frame;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  grid-area: footer;
}
